* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', 'sans-serif';
    height: 100%;
    width: 100%;
    margin: 0px;    
}

.pageOne {
    width: 500px;
    height: 500px;
    border: 5px solid black;
}

